
.header-big {
  font-size: 100px;
  };

.icon-size {
  font-size:68px;
}
.intro-color {
  color: rgb(154, 195, 115);
}

.bottomBorder {
  border-bottom: 5px solid rgb(0, 140, 255);
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container-2 {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 0%;
    transform: translateY(-30px);
  }
  20% {
    transform: translateY(-25px);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-8px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.container-2:nth-child(2) {
  animation-delay: 1s;
}

.container-2:nth-child(3) {
  animation-delay: 2s;
}

.container-2:nth-child(4) {
  animation-delay: 3s;
}

.container-2:nth-child(5) {
  animation-delay: 4s;
}

.container-2:nth-child(6) {
  animation-delay: 5s;
}

.container-2:nth-child(7) {
  animation-delay: 6s;
}

.container-2:nth-child(8) {
  animation-delay: 7s;
}


.text-box {
  padding: 20px 30px;
  background-color: rgb(12, 110, 253);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container-2 img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0%;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 8s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}



.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(12, 110, 253);
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(12, 110, 253);
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container-2 {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container img, .right-container img {
    left: 10px;
  }
  .left-container-arrow, .right-container-arrow {
    border-right: 15px solid rgb(12, 110, 253);
    border-left: 0;
    left: -15px;
  }
}

.intro-image-1 {
  animation: moveYup 2s linear forwards;
}

@keyframes moveYup {
  0% {
    opacity: 0%;
    transform: translateY(-600px);
  }
  20% {
    opacity: 20%;
    transform: translateY(-480px);
  }
  40% {
    opacity: 40%;
    transform: translateY(-320px);
  }
  60% {
    opacity: 60%;
    transform: translateY(-160px);
  }
  80% {
    opacity: 80%;
    transform: translateY(-40px);
  }
  100% {
    opacity: 100%;
    transform: translateY(50px);
  }
}


.intro-image-2 {
  animation: moveYdown 2s linear forwards;
}

@keyframes moveYdown {
  0% {
    opacity: 0%;
    transform: translateY(600px);
  }
  20% {
    opacity: 20%;
    transform: translateY(490px);
  }
  40% {
    opacity: 40%;
    transform: translateY(360px);
  }
  60% {
    opacity: 60%;
    transform: translateY(230px);
  }
  80% {
    opacity: 80%;
    transform: translateY(120px);
  }
  100% {
    opacity: 100%;
    transform: translateY(50px);
  }
}

.bg-color1 {
  background-color: #181d22;
}

.title-container {
  height: 100vh;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: height 0.3s ease-in-out;
}
